
.img1 {
    width: 110%;
    position: relative;
    left: -20px;
}
h1 {
    text-align: center;
    position: relative;
    font-size: 400%;
    color: white;
}

.continue {
    position: relative;
    left: 20%;
    top: -50px;
    width: 60%;
    height: 60px;
    background-color: #7A5656;
    color:white;
    font-size: 200%;
    border-radius: 40px;
}
 p {
 color: white;
 text-align: center;
 position: relative;
 font-size:25px;
}
.registrate{
    position: relative;
    left: 30%;
    top: -60px;
    width: 40%;
    height: 40px;
    background-color: #7A5656;
    color:white;
    font-size: 150%;
    border-radius: 40px;
}


.sesion{
    text-align: center;
    color: white;
    margin: 40px;
    background-color: rgba(151, 146, 146, 0.303);
    outline: unset;
    border: 3px solid rgb(0, 0, 0);
}

.account {
    position: relative;
    top: -50px;
}
