
<body>
  <div class="formulario">
     <h1>Inicio de sesion</h1>
      <form method="post">
         <div class="username">
            <input type="text" required>
             <label>Nombre de usuario</label>
             </div>
             <div class="contraseña">
                <input type="password" required>
                <label>Contraseña</label>
          </div>
          <div class="recordar">ingrese una contraseña</div>
          <input type="submit" value="Iniciar">
          <div class="registrate">
               Quiero hacer el <a href="#">registro</a>
          </div>
      </form>
  </div>  
</body>
